* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Dancing+Script:wght@500;700&family=Lexend+Deca&family=Montserrat:wght@300;900&family=Satisfy&display=swap');

.main-page {
  width: 100vw;
  /* height: 100vh; */
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100vh;
  padding-top: 2rem;
  /* background-color: red; */
}

.container {
  display: grid;
  /* flex-direction: column; */
  padding: 2rem 1rem;
}

.orange-card-container {
  border: 2px solid hsl(31, 77%, 52%);
  width: 80vw;
  height: 31rem;
  margin: 0 auto;
  background-color: hsl(31, 75%, 52%);
  border-radius: 8px 8px 0px 0px;
  padding: 2.7rem 3rem;
}

.lightgreen-card-container {
  border: 2px solid hsl(184, 100%, 22%);
  width: 80vw;
  height: 31rem;
  margin: 0 auto;
  background-color: hsl(184, 100%, 22%);
  padding: 2.7rem 3rem;

}

.darkgreen-card-container {
  border: 2px solid hsl(179, 100%, 13%);
  width: 80vw;
  height: 31rem;
  margin: 0 auto;
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 0px 8px 8px;
  padding: 2.7rem 3rem;

}

h1 {
  font-family: big shoulders display;
  color: hsl(0, 0%, 95%);
  margin-top: 2.1rem;
  margin-bottom: 0;
}

p {
  font-family: Lexend Deca;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 2.1rem;
  margin-bottom: 0;
  line-height: 1.6rem;
}

.btn {
  padding: 1.3rem 2.5rem;
  border-radius: 2rem;
  border: 0;
  background-color: hsl(0, 0%, 95%);
  margin-top: 4rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
}

.btn:hover {
  background: transparent;
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.orange-btn {
  color: hsl(31, 75%, 52%)
}

.green-btn {
  color: hsl(184, 100%, 22%);
}

.darkgreen-btn {
  color: hsl(179, 100%, 13%);
}

.grid-page-btn {
  padding: 1.3rem 2.5rem;
  border-radius: 2rem;
  border: 0;
  background-color: hsl(184, 100%, 22%);
  margin: 0.6rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
}

.grid-page-btn a {
  text-decoration: none;
  color: hsl(0, 0%, 95%)
}


@media screen and (min-width: 911px) {
  .main-page {
    width: 100vw;
    /* height: 100vh; */
    margin: 0 auto;
    max-width: 1400px;
    min-height: 100vh;
    padding-top: 2rem;
    /* background-color: red; */
  }

  .container {
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0rem 0rem;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
  }

  .orange-card-container {
    border: 2px solid hsl(31, 77%, 52%);
    /* width: 70vw; */
    width: 100%;
    height: 31rem;
    background-color: hsl(31, 75%, 52%);
    border-radius: 8px 0px 0px 8px;
    padding: 2.7rem 3rem;
  }

  .lightgreen-card-container {
    border: 2px solid hsl(184, 100%, 22%);
    /* width: 71vw; */
    width: 100%;
    height: 31rem;
    background-color: hsl(184, 100%, 22%);
    padding: 2.7rem 3rem;

  }

  .darkgreen-card-container {
    border: 2px solid hsl(179, 100%, 13%);
    /* width: 71.5vw; */
    width: 100%;
    height: 31rem;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 8px 8px 0px;
    padding: 2.7rem 3rem;

  }

  .btn {
    padding: 1.3rem 1.5rem;
    border-radius: 2rem;
    border: 0;
    background-color: hsl(0, 0%, 95%);
    margin-top: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
  }

  .btn:hover {
    background: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
  }

  footer {
    position: relative;
  }

  .grid-page-btn {
    padding: 1.3rem 2.5rem;
    border-radius: 2rem;
    border: 0;
    background-color: hsl(184, 100%, 22%);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    position: absolute;
    left: 76%;
  bottom: 4rem;
  }

  .grid-page-btn a {
    text-decoration: none;
    color: hsl(0, 0%, 95%);
  }

}

@media screen and (min-width: 1023px) {
  .main-page {
    width: 100vw;
    margin: 0 auto;
    max-width: 1400px;
    min-height: 100vh;
    padding-top: 2rem;
  }

  .container {
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0rem 0rem;
    width: 75vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
  }

  .orange-card-container {
    border: 2px solid hsl(31, 77%, 52%);
    /* width: 70vw; */
    width: 100%;
    height: 31rem;
    background-color: hsl(31, 75%, 52%);
    border-radius: 8px 0px 0px 8px;
    padding: 2.7rem 3rem;
  }

  .lightgreen-card-container {
    border: 2px solid hsl(184, 100%, 22%);
    /* width: 71vw; */
    width: 100%;
    height: 31rem;
    background-color: hsl(184, 100%, 22%);
    padding: 2.7rem 3rem;

  }

  .darkgreen-card-container {
    border: 2px solid hsl(179, 100%, 13%);
    /* width: 71.5vw; */
    width: 100%;
    height: 31rem;
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 8px 8px 0px;
    padding: 2.7rem 3rem;

  }

  .btn {
    padding: 1.3rem 1.9rem;
    border-radius: 2rem;
    border: 0;
    background-color: hsl(0, 0%, 95%);
    margin-top: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
  }

  .btn:hover {
    background: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
  }

  footer {
    position: relative;
  }

  .grid-page-btn {
    padding: 1.3rem 2.5rem;
    border-radius: 2rem;
    border: 0;
    background-color: hsl(184, 100%, 22%);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    position: absolute;
    left: 76%;
  bottom: 4rem;
  }

  .grid-page-btn a {
    text-decoration: none;
    color: hsl(0, 0%, 95%);
  }
}